<script src="/confirmdbclear.js"></script>
<div class="container">
    <div class="row">
        <h1>Warning: All data will be reset!</h1>
        <a class="btn btn-danger" id="btnClearDatabaseConfirm" role="button">Confirm Clear Database</a>
    </div>
</div>