<script src="/createplayerform.js"></script>
<h1>Create Player</h1>
<form>
<label for="Name">Name</label> <input type="text" name="Name" id="Name" /><br />
<a class="btn btn-info" id="btnCreatePlayerForm" role="button">Create Player</a>
</form>