<script src="/createcommentsubmit.js"></script>
<form><input type="hidden" name="MatchID" id="MatchID" value="<%= MatchID %>" /></form>
<div class="row">
    <div class="col-sm-4">
        <textarea id="Name" placeholder="Username" style="float:right;resize:none;outline:none;color:#000;" rows="1" cols="40"></textarea>
    </div>
    <div class="col-sm-4">
        <textarea id="Message" placeholder="Comment" style="resize:none;outline:none;color:#000;" rows="4" cols="100"></textarea>
    </div>
</div>
<div class="row">
            <div class="col-sm-4">
                <h1 style="text-align:right;"></h1>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-info" id="btnCreateCommentSubmit" role="button">Add Comment</a>
            </div>
            <div class="col-sm-4">
                <h1></h1>
            </div>
        </div>


