<br />
<div class="footer" style="text-align: center;">
    <p style="font-size:75%;">This website and its content where appropriate is copyright of Matt Smith (2015). All rights reserved.</p>
    <p style="font-size:75%;">All relevant artwork is copyright of id Software (1999). All rights reserved.</p>
</div>