<script src="/uploadmatch.js"></script>
<form id="upload" enctype="multipart/form-data" action="/admin/uploadmatch/submit" method="post">
<input type="file" id="uploadfiles" name="matchdata" multiple>
<br />
<button class="btn btn-info" type="submit" id="btnUploadMatch" value="Upload Files" name="Upload Files">Upload Files</button>
</form>

